In [1]:
import numpy as np
import pandas as pd

In [2]:
emails = pd.read_csv('spam.csv', encoding='latin-1')
emails.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
emails.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [5]:
emails_data = emails.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis=1)

In [6]:
emails_data.head(5)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
emails_data.shape

(5572, 2)

In [8]:
emails_data.v1.value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [9]:
emails_data.loc[emails_data['v1']=='spam','v1',]=1
emails_data.loc[emails_data['v1']=='ham','v1',]=0

In [10]:
x=emails_data['v2']
y=emails_data['v1']

In [11]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ÃŒ_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [12]:
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: v1, Length: 5572, dtype: object

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=3)

In [15]:
print(x.shape)
print(x_train.shape)
print(x_test.shape)

(5572,)
(4457,)
(1115,)

In [16]:
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(5572,)
(4457,)
(1115,)

In [18]:
feature_extraction = TfidfVectorizer(min_df=1,stop_words='english',lowercase=True )
x_train_new =feature_extraction.fit_transform(x_train)
x_test_new=feature_extraction.transform(x_test)

In [19]:
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [20]:
lr=LogisticRegression()
lr.fit(x_train_new,y_train)

LogisticRegression()

In [21]:
train_prediction=lr.predict(x_train_new)
accuracy_on_training_data=accuracy_score(y_train,train_prediction)
print(accuracy_on_training_data)

0.9661207089970832

In [22]:
prediction_test=lr.predict(x_test_new)
accuracy_on_test_data=accuracy_score(y_test,prediction_test)
print(accuracy_on_test_data)

0.9623318385650225

In [23]:
def SpamHam(x):
  input=[x]
  input_features=feature_extraction.transform(input)
  predict_input=lr.predict(input_features)
  if predict_input==0:
    return 'Spam Mail'
  else:
    return 'Ham Mail'

In [24]:
SpamHam('Free entry in 2 a wkly class')

'Spam Mail'